@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');
@import url('./components/navigasi/navigasi.css');
@import url('./layout/home/style.css');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

body{
    position: relative;
}
#footer{
    margin-top: 120px;
}

input{
    padding: 11px 16px 11px 16px;
    border-radius: 4px;
    border: 2px;
}
input:focus{
    outline: none;
}
.btn-default{
    background: #5468E7;
    color: white;
    padding: 10px 44px 10px 44px;
    border-radius: 4px;
    border: 0;
}

::placeholder {
  color: #7676B2;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.8;
}

::-ms-input-placeholder {
  color: #7676B2;
  font-weight: 400;
  font-size: 14px;
}