<div id="home">
    <div class="hero">
        <div class="hero-offer">
            <div class="content">
                <h1>Instant collaboration for remote teams</h1>
                <p>All-in-one place for your remote team to chat, collaborate and track project progress.</p>
                <div class="d-flex mt-5">
                    <input type="text" class="hero-input flex-fill" aria-label="email" placeholder="Email">
                    <button class="btn-default">Get Early Access</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mockup d-flex justify-content-end align-items-center">
        <div class="offer me-auto">
            <h2>Chats for your distributed teams</h2>
            <p class="mt-4">Team combines the immediacy of real-time chat with an email threading model. With Team, you
                can catch up
                on important conversations while ignoring irrelevant ones.</p>
            <div class="learn-more mt-5">
                <a href="#">Learn more</a>
                <img class="ms-3" src="../../assets/icon/ic_arrow_right.svg" alt="arrow-right">
            </div>
        </div>
        <img src="../../assets/images/mockup.svg" alt="mockup">
    </div>
    <div class="info-sec-one d-flex justify-content-center align-items-center">
        <div class="offer-img offer-img-one">
            <img src="../../assets/images/Calender.svg" alt="info-sec" class="calender-img">
        </div>
        <div class="offer ms-auto">
            <h2>Chats for your distributed teams</h2>
            <p class="mt-4">Team combines the immediacy of real-time chat with an email threading model. With Team, you
                can catch up
                on important conversations while ignoring irrelevant ones.</p>
            <div class="learn-more mt-5">
                <a href="#">Learn more</a>
                <img class="ms-3" src="../../assets/icon/ic_arrow_right.svg" alt="arrow-right">
            </div>
        </div>
    </div>
    <div class="info-sec-two d-flex justify-content-center align-items-center">
        <div class="offer me-auto">
            <h2>Choose how you want to work</h2>
            <p class="mt-4">In Team, you’ve got all the flexibility to work when, where and how it’s best for you. You
                can easily chat, send audio
                and video clips, or hop on a huddle to talk things out live.</p>
            <div class="learn-more mt-5">
                <a href="#">Learn more</a>
                <img class="ms-3" src="../../assets/icon/ic_arrow_right.svg" alt="arrow-right">
            </div>
        </div>
        <div class="offer-img offer-img-two d-block">
            <div class="imgs d-flex flex-column">
                <img src="../../assets/images/info_sec_two_top.svg" alt="info-sec" class="mb-3">
                <img src="../../assets/images/info_sec_two_bottom.svg" alt="info-sec">
            </div>
        </div>
    </div>
    <div class="info-sec-three d-flex justify-content-center align-items-center">
        <div class="offer-img offer-img-three d-block">
            <div class="imgs d-flex flex-column">
                <img src="../../assets/images/info_sec_three_top.svg" alt="info-sec" class="mb-3">
                <img src="../../assets/images/info_sec_three_bottom.svg" alt="info-sec">
            </div>
        </div>
        <div class="offer ms-auto">
            <h2>Move faster with your Team tools</h2>
            <p class="mt-4">With your other work apps connected to Team, you can work faster by switching tabs less. And
                with powerful tools like
                Workflow Builder, you can automate away routine tasks.</p>
            <div class="learn-more mt-5">
                <a href="#">Learn more</a>
                <img class="ms-3" src="../../assets/icon/ic_arrow_right.svg" alt="arrow-right">
            </div>
        </div>
    </div>
    <div class="review">
        <h1 id="what">What people say about Team</h1>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="content">
                        <div class="d-flex stars">
                            <img src="../../assets/icon/Star.svg" alt="start">
                            <img src="../../assets/icon/Star.svg" alt="start">
                            <img src="../../assets/icon/Star.svg" alt="start">
                            <img src="../../assets/icon/Star.svg" alt="start">
                            <img src="../../assets/icon/Star.svg" alt="start">
                        </div>
                        <p class="mt-4 comment">Vestibulum eu quam nec neque pellentesque efficitur id eget nisl. Proin
                            porta
                            est convallis
                            lacus blandit pretium sed
                            non enim. Maecenas lacinia non orci at aliquam. Donec finibus, urna bibendum ultricies
                            laoreet.</p>
                        <div class="d-flex mt-5 avatar align-items-center">
                            <img src="../../assets/icon/Avatar.svg" alt="avatar">
                            <div class="user flex-fill">
                                <p class="username">Chealsea Morgan</p>
                                <span>CEO ot Subway</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <div class="d-flex stars">
                            <img src="../../assets/icon/Star.svg" alt="start">
                            <img src="../../assets/icon/Star.svg" alt="start">
                            <img src="../../assets/icon/Star.svg" alt="start">
                            <img src="../../assets/icon/Star.svg" alt="start">
                            <img src="../../assets/icon/Star.svg" alt="start">
                        </div>
                        <p class="mt-4 comment">In a laoreet purus. Integer turpis quam, laoreet id orci nec, ultrices
                            lacinia nunc. Aliquam erat volutpat. Curabitur
                            fringilla in purus eget egestas. Etiam quis.</p>
                        <div class="d-flex mt-5 avatar align-items-center">
                            <img src="../../assets/icon/Avatar_2.svg" alt="avatar">
                            <div class="user flex-fill">
                                <p class="username">Nick Cave</p>
                                <span>CMO ot Nokia</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="d-flex stars">
                                <img src="../../assets/icon/Star.svg" alt="start">
                                <img src="../../assets/icon/Star.svg" alt="start">
                                <img src="../../assets/icon/Star.svg" alt="start">
                                <img src="../../assets/icon/Star.svg" alt="start">
                                <img src="../../assets/icon/Star.svg" alt="start">
                            </div>
                            <p class="mt-4 comment">Aliquam pulvinar vestibulum blandit. Donec sed nisl libero. Fusce
                                dignissim luctus sem eu dapibus. Pellentesque
                                vulputate quam a quam volutpat, sed ullamcorper erat commodo.</p>
                            <div class="d-flex mt-5 avatar align-items-center">
                                <img src="../../assets/icon/Avatar_3.svg" alt="avatar">
                                <div class="user flex-fill">
                                    <p class="username">Lana Rosenfeld</p>
                                    <span>Senior VP ot Pinterest</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="d-flex stars">
                                <img src="../../assets/icon/Star.svg" alt="start">
                                <img src="../../assets/icon/Star.svg" alt="start">
                                <img src="../../assets/icon/Star.svg" alt="start">
                                <img src="../../assets/icon/Star.svg" alt="start">
                                <img src="../../assets/icon/Star.svg" alt="start">
                            </div>
                            <p class="mt-4 comment">Porta nisl dolor, molestie pellentesque elit molestie in. Morbi
                                metus neque, elementum ullamcorper hendrerit eget,
                                tincidunt et nisi. Sed magna nunc.</p>
                            <div class="d-flex mt-5 avatar align-items-center">
                                <img src="../../assets/icon/Avatar_4.svg" alt="avatar">
                                <div class="user flex-fill">
                                    <p class="username">Chealsea Morgan</p>
                                    <span>CEO ot Subway</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end arrow">
            <img id="prev" src="../../assets/icon/ic_arr_l.svg" class="me-5" alt="ic_arrow">
            <img id="next" src="../../assets/icon/ic_arr_r.svg" alt="ic_arrow">
        </div>


    </div>
</div>