
.hero{
    padding: 0 140px 0 140px;
    display: flex;
    background-image: url("../../assets/images/hero-img.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: start;
    align-items: center;
    height: 100vh;
}
.hero .hero-offer .content{
    max-width: 563px;
    color: whitesmoke;
}
.hero .hero-offer .content h1{
    line-height: 64px;
    font-weight: 700;
    font-size: 50px;
}
.hero .hero-offer .content p{
    max-width: 397px;
}
.hero .btn-default{
    margin-left: auto;
}
.hero .hero-input{
    margin-right: 20px;
    padding-right: 40px;
    background:white url('../../assets/icon/ic_arrow.svg') no-repeat center right 11px;
}   

/* Mockup Section */
.mockup{
    padding-left: 140px;
    margin-top: 85px;
}


/* Info Section */
.info-sec-one, .info-sec-two, .info-sec-three{
    padding: 0 140px 0 140px;
    margin-top: 100px;
}
.offer{
    width: 460px;
}
.offer h2{
    font-size: 50px;
    font-weight: 700;
}
.offer p{
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}
.offer-img{
    position: relative;
    display: block;
}
.offer-img-one{
    width: 565px;
    height: 565px;
    background-image: url('../../assets/images/info_sec_one.svg');
}
.offer-img-one .calender-img{
    position: absolute;
    top: 20px;
    right: 20px;
}

.offer-img-two{
    width: 565px;
    height: 565px;
    background-image: url('../../assets/images/info_sec_two.svg');
}
.offer-img-two .imgs{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.offer-img-three{
    width: 565px;
    height: 565px;
    background-image: url('../../assets/images/info_sec_three.svg');
}
.offer-img-three .imgs{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* Review */
.review{
    margin-top: 240px;
}
.review h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.arrow{
    padding: 0 140px 0 140px;
}
.arrow img{
    cursor: pointer;
}
.swiper{
    margin-top: 120px;
}
.swiper .swiper-wrapper{
    padding-left: 200px;
    cursor: grab;
}
.swiper-slide{
    padding-bottom: 50px;
}
.swiper-slide .content{
    padding: 44px 33px 44px 33px;
    width: 367px;
    border: 0.5px solid rgb(225, 225, 225);
    border-radius: 4px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.swiper-slide .stars img{
    height: 32px;
    width: 32px;
}
.swiper-slide .content .comment{
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}
.swiper-slide .content .user{
    margin-left: 20px;
}
.swiper-slide .avatar img {
    width: 56px;
    height: 56px;
}
.swiper-slide .content .avatar .user .username{
    font-size: 18px;
    margin-bottom: -2px;
}
.swiper-slide .content .avatar .user span{
    font-size: 14px;
    color: #7676B2;
}
