<div>
    <div class="d-flex justify-content-start flex-column flex-lg-row footer-block">
        <div class="logo me-auto">
            <img src="../../assets/icon/Logo.svg" alt="logo">
            <p class="mt-3">Collaboration platform for mordern team</p>
        </div>
        <div class="d-flex flex-column-reverse flex-sm-column flex-lg-row">
            <div class="d-flex flex-column flex-sm-row">
                <div class="block flex-fill">
                    <h5 class="title">Company</h5>
                    <ul>
                        <li class="menu">Product</li>
                        <li class="menu">Blog</li>
                        <li class="menu">Support</li>
                    </ul>
                </div>
                <div class="block flex-fill">
                    <h5 class="title">Features</h5>
                    <ul>
                        <li class="menu">Screen Sharing</li>
                        <li class="menu">iOS & Android Apps</li>
                        <li class="menu">File Sharing</li>
                        <li class="menu">User Managment</li>
                    </ul>
                </div>
                <div class="block flex-fill">
                    <h5 class="title">Contact Us</h5>
                    <ul>
                        <li>info@teamapp.com</li>
                        <li>1-800-200-300</li>
                        <li>1010 Sunset Blv.
                            Palo Alto, California</li>
                    </ul>
                </div>
            </div>
            <div class="stay">
                <h5 class="title">Stay up to date</h5>
                <p class="desc">Subscribe to our newseller</p>
                <input type="text" class="hero-input-footer flex-fill" aria-label="email" placeholder="Email">
            </div>
        </div>
    </div>
    <p class="copyright">© Copyright Team Inc.</p>
</div>